*{
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'PingFangSC','helvetica neue','hiragino sans gb','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif'!important;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled{
  cursor: no-drop!important
}
.theme_color{
  color: #ff5f5f;
}
.marginR5{
  margin-right: 5px;
}